<div class="container-fluid d-flex text-center p-4">
    <h3>Derniers livres</h3>
    {% for book in books %}
        <a class="card" style="width: 18rem;" href="{{ path('app_book_details', {'slug': book.slug }) }}">
            <img src="{{ book.poster }}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">{{ book.title }}</p>
            </div>
        </a>
    {% else %}
        <span>Pas de Livres disponible...</span>
    {% endfor %}
</div>