{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>{{ controller_name }}</h1>
    <ul>
        {% for movie in movies %}
            <li>
                <a href="{{ path('app_movie_details', {'title': movie.title|lower|replace({' ': '-'})}) }}">
                    {{ movie.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
