{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}
    <div class="container-fluid p-4">
        <div class="card">
            <div class="card-header">
                <h1>Movies collection</h1>
            </div>
            <div class="card-body">
                You can browse all last movies !
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex flex-wrap text-center p-4 w-100">
        {% for movie in movies %}
            <a class="card m-2" style="width: 18rem;" href="{{ path('app_movie_details', {'slug': movie.slug }) }}">
                <img src="{{ movie.poster }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">{{ movie.title }}</p>
                </div>
            </a>
        {% else %}
            <span>Pas de Film disponible...</span>
        {% endfor %}
    </div>
{% endblock %}
