{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
    <h1>{{ controller_name }}</h1>
    <ul>
        {% for book in books %}
            <li>
                <a href="{{ path('app_book_details', {'title': book.title|lower|replace({' ': '-'})}) }}">
                    {{ book.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
