{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container-fluid p-4">
        <div class="card">
            <div class="card-header">
                <h1>Contact us</h1>
            </div>
            {% if sent == false %}
                <div class="card-body">
                    Please leave us a message :)
                </div>
                <div class="container-fluid p-4">
                    {{ form_start(contact_form) }}
                        {{ form_widget(contact_form) }}
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    {{ form_end(contact_form) }}
                </div>
            {% else %}
                <div class="card-body">
                    Your message has been sent !
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
