{% extends 'emails/base.html.twig' %}

{% block body %}
    <h1>You just received an email from {{ name }}!</h1>

    <p>
        {{ name }} message:
    </p>
    <p><code>{{ message }}</code></p>
{% endblock body %}